<form class="form-signin" form="role">
	<div style="text-align: center;">
		<h2>Login Forms</h2>
		<div style="text-align: center;">
			<input type="text" class="form-control" name="username" id="username"
				placeholder="Email Address" required="" autofocus="" /> <input
				type="password" class="form-control" name="password" id="password"
				placeholder="Password" required="" />
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit" id="login">Login</button>
		<div class="valid"></div>
	</div>
</form>